body {
	background: #529de1;
}

.App {
	width: 450px;
	margin: 10px auto;
	padding: 20px;
	background: #f4f4f4;
	border: #ccc solid 1px;
  border-radius: 15px;
}

.output h3{
	border: #ccc solid 1px;
  border-radius: 10px;
	padding: 10px;
	font-size: 32px;
  text-align: center;
}

.output h3 a {
	font-size: 18px;
	color: #ccc;
	text-decoration: none
}

.danger {
	color: #af1818;
}

input[type=range] {
  height: 47px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px #000000;
  background: #2497E3;
  border-radius: 10px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 5px solid #2497E3;
  height: 36px;
  width: 45px;
  border-radius: 16px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px #000000;
  background: #2497E3;
  border-radius: 10px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 5px solid #2497E3;
  height: 36px;
  width: 45px;
  border-radius: 16px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 5px solid #2497E3;
  height: 36px;
  width: 45px;
  border-radius: 16px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}